<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
  ID:
  <%= @trainer.id %>
</p>





<p>
  <strong>Level:</strong>
  <%= @trainer.level %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trainer.description %>
</p>

